<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>New task to <%= story.name %></h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <form class="form" method="post" target="">
            <div class="form-group">
              <label>Task:</label>
              <textarea name="task" rows="2" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label>Estimated Duration (h):</label>
              <input type="number" name="estimated_duration" class="form-control"/>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-success"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
